
<div class="alunos-container">
    <div class="alunos-container">
        

    <span>Vagas Máximas: {{vagasMaximas}}</span> <br>
    <span>Total de vagas disponíveis: {{totalVagasDisponiveis}}</span>

    <h1>Alunos Registrados:</h1>

    <div class="alunos-buscador">
        <form action="/alunos/search" method="get">
            <input type="text" id="cpfSearch" name="cpf" placeholder="Buscas por CPF..." required>
            <button type="submit">Buscar</button>
        </form>
    </div>

    {{#if mensagemSucesso}}
        <div id="success-alert" class="alert alert-success" role="alert">
            {{mensagemSucesso}}
        </div>
    {{/if}}

    <div class="filtro-container">
        <a href="/alunos?order=novo" class="btn-filtro">
            <i class="fas fa-arrow-up"></i> Mais Recentes
        </a>
        <a href="/alunos?order=antigo" class="btn-filtro">
            <i class="fas fa-arrow-down"></i> Mais Antigos
        </a>
    </div>

        <div class="alunos-table-container">
            <table class="alunos-table-dados">
                <thead>
                    <tr>
                        <th>CPF</th>
                        <th>Nome</th>
                        <th>Telefone</th>
                        <th>Curso</th>
                        <th>Instituição</th>
                        <th>Data de Cadastro</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>

                {{#each ativos}}
                    <tbody>
                        <tr>
                            <td>{{this.cpf}}</td>
                            <td>{{this.nome}}</td>
                            <td>{{this.telefone}}</td>
                            <td>{{this.curso}}</td>
                            <td>{{this.instituicao}}</td>
                            <td>{{this.data_cadastro}}</td>

                            <td>
                                <a href="/alunos/edit/{{this.id}}" class="btn-aluno-edit">
                                  <i class="fas fa-edit"></i>
                                </a>
                            </td>

                            <td>
                                <form action="/alunos/delete" method="post" id="form-btn-delete">
                                    <input type="hidden" name="id" value="{{this.id}}">
                                    <button type="submit">
                                        <i class="fas fa-trash"></i>
                                    </button>
                                </form>
                            </td>

                        </tr>
                    </tbody>
                {{/each}}
            </table>
        </div>
</div>